.equips-concret-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

.team-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 50px;
}

.equips-team-logo-large {
  width: 100px;
  height: auto;
}

.team-name-title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin: 0;
}

.search-container.concret .search-bar {
  margin-top: 0;   
  margin-right: -16px;         
  transform: translateY(189%);
}

.tables-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  width: 100%;
}

.table-row {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.table {
  background-color: #5b3f76;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  min-width: 300px;
  max-width: 500px;
}

.table h2 {
  color: white;
  margin-bottom: 12px;
  text-align: center;
}

.table table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

.table th,
.table td {
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #7a579b;
  color: white;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

.table.roster-table {
  margin-bottom: 40px;
}

.winrate-red {
  color: rgb(230, 0, 0);
}

.winrate-yellow {
  color: #e6e200;
}

.winrate-green {
  color: rgb(0, 179, 0);
}

@media (max-width: 720px) {
  .team-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 50px;
    margin-top: -3.5rem;
  }
}

@media (max-width: 670px) {
  .equips-team-logo-large {
    animation: fadeInScale .6s ease forwards;
    width: 100px;
  }
}

@media (max-width: 570px) {
  .equips-team-logo-large {
    animation: fadeInScale .6s ease forwards;
    width: 100px;
  }
}

@media (max-width: 430px) {
  .table.roster-table {
    margin-bottom: 40px;
    width: 100%;
  }
}